.ProductCardContainer {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    gap: 20px;
    padding: 20px;
}