.navBar > ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.navBar > ul > li {
    display: inline;
    margin: 5px;
}

a:link {
    text-decoration: inherit;
    color: inherit;
}

a:link:hover {
    border-bottom: 3px solid black;
}

a:visited {
    text-decoration: inherit;
    color: inherit;
}
