.productCard {
  display: grid;
  grid-template-columns: 6fr 1fr;
  overflow: hidden;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.38);
}

.productTitle {
  font-size: 1.1 rem;
  text-align: center;
  font-weight: bold;
}

.productImg {
  align-self: center;
  justify-self: center;
  width: auto;
  height: 150px;
  grid-column: 1/-1;
}

.bottomBit {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartControls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  align-items: center;
  justify-items: center;
}
